
ul{
    list-style-type: none;
}


.MenuItem{
    display: inline-block;
    margin: 0px 10px;
    color: white;
    cursor: pointer;
}

@media (max-width:576px) {
    .MenuContainer{
        margin-top: 30px;
        text-align: center;
    }
}