.FooterContainer{
    background-color: #00008b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.MenuContainer p{
    cursor: pointer;
}

.aboutDev a{
    text-decoration: none;
    color: white;
}
